## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Zhanjiang,CN,21.2815,110.3427,81.95,87,100,3.00,overcast clouds
1,1,Cape Town,ZA,-33.9258,18.4232,58.87,90,90,3.00,light rain
2,2,Lata,PT,40.1629,-8.3327,74.35,37,0,6.69,clear sky
3,3,Lianran,CN,24.9227,102.4850,72.14,88,81,1.34,light rain
4,4,Treinta Y Tres,UY,-33.2333,-54.3833,34.36,86,7,7.94,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Zhanjiang,CN,21.2815,110.3427,81.95,87,100,3.00,overcast clouds
9,9,Ponta Do Sol,PT,32.6667,-17.1000,75.70,73,48,4.36,scattered clouds
16,16,Jambi,ID,-1.6000,103.6167,82.92,52,25,2.10,scattered clouds
26,26,Hobyo,SO,5.3505,48.5268,81.91,65,76,27.18,broken clouds
32,32,Terra Santa,BR,-2.1042,-56.4869,75.20,60,32,1.63,light rain
36,36,Mongo,TD,12.1844,18.6930,86.23,61,100,3.40,overcast clouds
43,43,Maragogi,BR,-9.0122,-35.2225,75.25,82,8,2.06,clear sky
45,45,Ribeira Grande,PT,38.5167,-28.7000,75.60,64,75,9.22,broken clouds
47,47,Huilong,CN,31.8111,121.6550,84.04,92,55,7.61,moderate rain
48,48,Santa Rosa,PH,14.3122,121.1114,82.90,86,99,7.74,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Zhanjiang,CN,21.2815,110.3427,81.95,87,100,3.00,overcast clouds
9,9,Ponta Do Sol,PT,32.6667,-17.1000,75.70,73,48,4.36,scattered clouds
16,16,Jambi,ID,-1.6000,103.6167,82.92,52,25,2.10,scattered clouds
26,26,Hobyo,SO,5.3505,48.5268,81.91,65,76,27.18,broken clouds
32,32,Terra Santa,BR,-2.1042,-56.4869,75.20,60,32,1.63,light rain
...,...,...,...,...,...,...,...,...,...,...
674,674,Tainan,TW,22.9908,120.2133,85.87,94,75,5.75,broken clouds
675,675,Huatulco,MX,15.8436,-96.3267,75.87,89,68,5.14,broken clouds
676,676,Gizo,SB,-8.1030,156.8419,81.95,78,19,8.59,few clouds
677,677,Prattville,US,32.4640,-86.4597,76.39,95,40,0.00,mist
678,678,Cockburn Town,TC,21.4612,-71.1419,81.95,75,5,19.66,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Zhanjiang,CN,81.95,overcast clouds,21.2815,110.3427,
9,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,
16,Jambi,ID,82.92,scattered clouds,-1.6000,103.6167,
26,Hobyo,SO,81.91,broken clouds,5.3505,48.5268,
32,Terra Santa,BR,75.20,light rain,-2.1042,-56.4869,
36,Mongo,TD,86.23,overcast clouds,12.1844,18.6930,
43,Maragogi,BR,75.25,clear sky,-9.0122,-35.2225,
45,Ribeira Grande,PT,75.60,broken clouds,38.5167,-28.7000,
47,Huilong,CN,84.04,moderate rain,31.8111,121.6550,
48,Santa Rosa,PH,82.90,overcast clouds,14.3122,121.1114,

In [8]:

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:

# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Zhanjiang,CN,81.95,overcast clouds,21.2815,110.3427,创业旅店
9,Ponta Do Sol,PT,75.70,scattered clouds,32.6667,-17.1000,Hotel do Campo
16,Jambi,ID,82.92,scattered clouds,-1.6000,103.6167,ASTON Jambi Hotel & Conference Center
26,Hobyo,SO,81.91,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
32,Terra Santa,BR,75.20,light rain,-2.1042,-56.4869,Hotel Sarah
...,...,...,...,...,...,...,...
674,Tainan,TW,85.87,broken clouds,22.9908,120.2133,Tie Dao Hotel
675,Huatulco,MX,75.87,broken clouds,15.8436,-96.3267,Fonatur Operadora Portuaría
676,Gizo,SB,81.95,few clouds,-8.1030,156.8419,Imagination Island
677,Prattville,US,76.39,mist,32.4640,-86.4597,InTown Suites Extended Stay Prattville AL
678,Cockburn Town,TC,81.95,clear sky,21.4612,-71.1419,Osprey Beach Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))